**/.DS_Store
**/.vagrant
**/certs
**/support
**/.vscode
**/target
**/.idea

**/cert-generation
#**/input-files

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Certificate extensions
*.crt
*.jks
*.p12
*.key
*.pem
*.csr

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

**/.terraform/
**/.terraform.OLD/
.idea/
**/terraform.tfvars
**/terraform.tfstate
*.backup
**/amq-broker-7.9.0-bin.zip
**/destroy.plan
**/TMP/
**/.vault_password
