#!/bin/sh

  currentDir="{{ jmeter_remote_bin_dir_full_path }}"
  outputDir="{{ jmeter_remote_bin_dir_full_path }}/amq_benchmark_output"
  rm -rf "${outputDir}"
  mkdir -p 744 "${outputDir}"

({{ jmeter_remote_bin_dir_full_path }}/{{ jmeter_binary_version }}/bin/jmeter -n -t "${currentDir}/AMQ_Jmeter_Test_Plan_N_Messages.jmx" \
  -JconsumerDuration="{{ consumer_duration }}" \
  -JproducerSamples="1" \
  -JconsumerSamples="{{ consumer_samples }}" \
  -JjmsTimeout="{{ jms_timeout_ms }}" \
  -JproducerThreads="{{ producer_threads }}" \
  -JconsumerThreads="{{ consumer_threads }}" \
  -JenableConstantThroughputTimer="{{ enableConstantThroughputTimer }}" \
  -JnumberOfMessagesPerMin="{{ numberOfMessagesPerMin }}" \
  -l "${outputDir}/results_automated.jtl" \
  -j "${outputDir}/out.log") > ${outputDir}/jmeter_exec.out

{{ jmeter_remote_bin_dir_full_path }}/gen_throughput.sh "-i" "${outputDir}/results_automated.jtl" -z